<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elin4it.ssm.mapper.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.elin4it.ssm.pojo.Dictionary" >
    <id column="dictId" property="dictId" jdbcType="INTEGER" />
    <result column="dictType" property="dictType" jdbcType="VARCHAR" />
    <result column="dictName" property="dictName" jdbcType="VARCHAR" />
    <result column="dictValue" property="dictValue" jdbcType="VARCHAR" />
    <result column="isFixed" property="isFixed" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    dictId, dictType, dictName, dictValue, isFixed,dictFather
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where dictId = #{dictId,jdbcType=INTEGER}
  </select>
  <select id="selectDictionary" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM dictionary
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionary
    where dictId = #{dictId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elin4it.ssm.pojo.Dictionary" >
    insert into dictionary (dictId, dictType, dictName, 
      dictValue, isFixed)
    values (#{dictId,jdbcType=INTEGER}, #{dictType,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, 
      #{dictValue,jdbcType=VARCHAR}, #{isFixed,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.elin4it.ssm.pojo.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        dictId,
      </if>
      <if test="dictType != null" >
        dictType,
      </if>
      <if test="dictName != null" >
        dictName,
      </if>
      <if test="dictValue != null" >
        dictValue,
      </if>
      <if test="isFixed != null" >
        isFixed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        #{dictId,jdbcType=INTEGER},
      </if>
      <if test="dictType != null" >
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="isFixed != null" >
        #{isFixed,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elin4it.ssm.pojo.Dictionary" >
    update dictionary
    <set >
      <if test="dictType != null" >
        dictType = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        dictName = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        dictValue = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="isFixed != null" >
        isFixed = #{isFixed,jdbcType=INTEGER},
      </if>
    </set>
    where dictId = #{dictId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elin4it.ssm.pojo.Dictionary" >
    update dictionary
    set dictType = #{dictType,jdbcType=VARCHAR},
      dictName = #{dictName,jdbcType=VARCHAR},
      dictValue = #{dictValue,jdbcType=VARCHAR},
      isFixed = #{isFixed,jdbcType=INTEGER}
    where dictId = #{dictId,jdbcType=INTEGER}
  </update>
</mapper>