<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elin4it.ssm.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.elin4it.ssm.pojo.News" >
    <id column="NewsId" property="newsId" jdbcType="INTEGER" />
    <result column="NewsType" property="newsType" jdbcType="VARCHAR" />
    <result column="NewsTitle" property="newsTitle" jdbcType="VARCHAR" />
    <result column="NewsAuthor" property="newsAuthor" jdbcType="VARCHAR" />
    <result column="NewsContent" property="newsContent" jdbcType="VARCHAR" />
    <result column="EditorTime" property="editorTime" jdbcType="VARCHAR" />
    <result column="NewsProgram" property="newsProgram" jdbcType="VARCHAR" />
    <result column="NewsStatus" property="newsStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    NewsId, NewsType, NewsTitle, NewsAuthor, NewsContent, EditorTime, NewsProgram, NewsStatus
  </sql>
  <sql id="detail">
    NewsContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from news
    where NewsId = #{newsId,jdbcType=INTEGER}
  </select>
  <select id="selectAllNews" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM news ORDER BY EditorTime DESC
  </select>
  <select id="selectDetailByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="detail" />
    from news
    where NewsId = #{newsId,jdbcType=INTEGER}
  </select>
  <select id="selectNewsByNewsProgram"  resultMap="BaseResultMap" parameterType="java.lang.String">
   SELECT
    <include refid="Base_Column_List" />
    FROM  news
    WHERE  NewsProgram = #{newsProgram,jdbcType=VARCHAR}
  </select>
  <select id="selectNewsByNewsType"  resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM  news
    WHERE  NewsType = #{newsType,jdbcType=VARCHAR}
  </select>
  <select id="selectNewsByNewsTitle"  resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM  news
    WHERE  NewsTitle LIKE  CONCAT(CONCAT('%', #{newsTitle}), '%')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news
    where NewsId = #{newsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elin4it.ssm.pojo.News" >
    insert into news (NewsId, NewsType, NewsTitle, 
      NewsAuthor, NewsContent,
      NewsProgram, NewsStatus)
    values (#{newsId,jdbcType=INTEGER}, #{newsType,jdbcType=VARCHAR}, #{newsTitle,jdbcType=VARCHAR}, 
      #{newsAuthor,jdbcType=VARCHAR}, #{newsContent,jdbcType=VARCHAR},
      #{newsProgram,jdbcType=VARCHAR}, #{newsStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.elin4it.ssm.pojo.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        NewsId,
      </if>
      <if test="newsType != null" >
        NewsType,
      </if>
      <if test="newsTitle != null" >
        NewsTitle,
      </if>
      <if test="newsAuthor != null" >
        NewsAuthor,
      </if>
      <if test="newsContent != null" >
        NewsContent,
      </if>
      <if test="editorTime != null" >
        EditorTime,
      </if>
      <if test="newsProgram != null" >
        NewsProgram,
      </if>
      <if test="newsStatus != null" >
        NewsStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="newsType != null" >
        #{newsType,jdbcType=VARCHAR},
      </if>
      <if test="newsTitle != null" >
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsAuthor != null" >
        #{newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null" >
        #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="editorTime != null" >
        #{editorTime,jdbcType=VARCHAR},
      </if>
      <if test="newsProgram != null" >
        #{newsProgram,jdbcType=VARCHAR},
      </if>
      <if test="newsStatus != null" >
        #{newsStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elin4it.ssm.pojo.News" >
    update news
    <set >
      <if test="newsType != null" >
        NewsType = #{newsType,jdbcType=VARCHAR},
      </if>
      <if test="newsTitle != null" >
        NewsTitle = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsAuthor != null" >
        NewsAuthor = #{newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null" >
        NewsContent = #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="newsProgram != null" >
        NewsProgram = #{newsProgram,jdbcType=VARCHAR},
      </if>
      <if test="newsStatus != null" >
        NewsStatus = #{newsStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where NewsId = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elin4it.ssm.pojo.News" >
    update news
    set NewsType = #{newsType,jdbcType=VARCHAR},
      NewsTitle = #{newsTitle,jdbcType=VARCHAR},
      NewsAuthor = #{newsAuthor,jdbcType=VARCHAR},
      NewsContent = #{newsContent,jdbcType=VARCHAR},
      NewsProgram = #{newsProgram,jdbcType=VARCHAR},
      NewsStatus = #{newsStatus,jdbcType=VARCHAR}
    where NewsId = #{newsId,jdbcType=INTEGER}
  </update>
</mapper>